.content {
  color: var(--primary-font-color);
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.secondary {
  color: var(--secondary-font-color);
}
