.container {
  background: var(--surface-background-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  min-height: 230px;
  padding: 32px;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.quoteMark {
  color: var(--primary-font-color);
  font: 54px/0.7 var(--font-heading);
}

.quoteMarkBegin {
  align-self: flex-start;
}

.quoteMarkEnd {
  align-self: flex-end;
}

.quote {
  align-self: center;
  font: 400 23px/1.15 var(--font-heading);
  letter-spacing: -.03em;
}

/* tablet and up */
@media (min-width: 768px) {
  .container {
    min-height: 270px;
  }
}
