/* section: details */

.details {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-bottom: var(--padding);
}

.image {
  position: relative;
  aspect-ratio: 1 / 1;
}

.image img {
  object-fit: contain;
}

/* section: related */

.related {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* tablet and up */
@media (min-width: 768px) {
  .image {
    flex: 1;
    min-width: 0;
  }

  .content {
    flex: 1;
    min-width: 0;
    padding: clamp(40px, 6vw, 96px);
  }
}
