.content {
  color: var(--primary-font-color);
  font-family: var(--font-heading);
  font-size: 32px;
  font-weight: 600;
  line-height: .95;
  letter-spacing: -.06em;
  text-transform: uppercase;
}

.secondary {
  color: var(--secondary-font-color);
}
